.bg_snig {
    background: rgba(204, 240, 230, 1);

}

.t_color {
    color: rgba(88, 169, 165, 1);
    
}

.posit_ion {
    margin: 0 auto;

}

i {
    color: rgba(88, 169, 165, 1);
}

.tex_color  {
    color: rgba(72, 105, 88, 1);
}